body {
    padding-bottom: 80px;

}

.navbar {
    background: #D9D9D9;
}

.custom-card {
    border-radius: 20px;
    width: 450px;
    height: auto;
    /* padding-right: 10px; */
    padding: 10% 10% 10% 10%;
}

.footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 5px;
    background: #D9D9D9;
}

a {
    color: black;
    text-decoration: none;
}

.btn a {
    color: black;
    text-decoration: none;
}

.btn:disabled {
    background-color: #D9D9D9;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.login-btn {
    width: 350px;
    border-color: black;
}

.modal-btn {
    width: 400px;
}

.alert.success {
    background-color: green;
  }
  
.alert.error {
    background-color: red;
  }

.margin-b-0-5{
    margin-bottom: 0.5rem !important;
}

.margin-b-0{
    margin-bottom: 0rem !important;
}

.dashboard-img{
    height: 4rem;
    border-radius: 4000;
}

.dashboard-item-card{
    transition: background-color 0.5s, box-shadow 0.5s;
}

.dashboard-item-card:hover {
    background-color: #D9D9D9;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
