<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InvenTree Software</title>
    <!-- CSS files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
    <!-- javascript header files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- Header  -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">InvenTree</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- navbar icons -->
            <div class="collapse navbar-collapse justify-content-md-end" id="navbarSupportedContent">
                <button id="id-dashboard" name="btn-dashboard" class="btn btn-light btn-outline me-2" type="button"><a
                        href="/templates/Dashboard.html">Dashboard</a></button>
                <button id="id-profile" name="btn-profile"class="btn btn-light btn-outline me-2" type="button"><a href="/templates/Profile.html">Profile</a></button>
                <button id="id-contactus" name="btn-contactus" class="btn btn-light btn-outline me-2" type="button"><a href="/templates/ContactUs.html">Contact
                        Us</a></button>
                <button id="id-logout" name="btn-logout" class="btn btn-light btn-outline me-2" type="button"><a
                        href="/templates/Logout_page.html">Logout</a></button>
            </div>
        </div>
    </nav>



    <!-- body content -->
    <form action="{{url_for('create_bill')}}" method="post" target="_blank">
    <div class="container">
        <h3 class="mt-2 pt-3">Invoice Number :- ####</h3>
        <!-- Search bar -->
        
        <!-- Employee  List Code -->
        <table class="table table-hover mt-5">
            <thead>
                <tr>
                    <th>Sr.</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Quantity</th>
                    <th>Equal</th>
                </tr>
            </thead>
            <tbody id="ProductTable">
                <tr>
                    <td>1011</a></td>
                    <td>TV</td>
                    <td>25000</td>
                    <td>1</td>
                    <td>25000</td>

                </tr>
                <tr>
                    <td>1012</td>
                    <td>Mobile</td>
                    <td>40000</td>
                    <td>1</td>
                    <td>40000</td>
                </tr>
                <tr>
                    <td>1013</td>
                    <td>Laptop</td>
                    <td>100000</td>
                    <td>1</td>
                    <td>100000</td>
                </tr>
                <tr>
                    <td>1014</td>
                    <td>Book</td>
                    <td>50000</td>
                    <td>1</td>
                    <td>50000</td>
                </tr>
                <tr>
                    <td>1015</td>
                    <td>TV</td>
                    <td>200000</td>
                    <td>1</td>
                    <td>200000</td>
                </tr>
                <tr>
                    <td>1015</td>
                    <td>TV</td>
                    <td>100000</td>
                    <td>1</td>
                    <td>100000</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-auto">
            <button id="id-dashboard" name="btn-dashboard" class="btn btn-light btn-outline me-5"
                type="button"><a href="/templates/Dashboard.html">Cancel</a></button>
                <button id="id-scanmore" name="btn-scanmore" class="btn btn-light btn-outline" type="button" >Scan More</button>
                <button id="id-sendbill" name="btn-sendbill" class="btn btn-light btn-outline" type="button" >Send Bill</button>
        </div>
    </div>
</form>
    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row justify-content-md-end">
                <div class="col-auto">
                    <span class="text-bg">© Copyright Persistent Systems Pvt. Ltd. 2024</span>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>