<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InvenTree Software</title>
    <!-- CSS files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
    <!-- Javascript header files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- Header  -->

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">InvenTree</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar icons  -->
            <div class="collapse navbar-collapse justify-content-md-end" id="navbarSupportedContent">
                <button id="id-dashboard" name="btn-dashboard" class="btn btn-light btn-outline me-2" type="button"><a
                        href="/templates/Dashboard.html">Dashboard</a></button>
                <!-- <button id="id-profile" name="btn-profile"class="btn btn-light btn-outline me-2" type="button"><a href="/templates/Profile.html">Profile</a></button> -->
                <button id="id-contactus" name="btn-contactus" class="btn btn-light btn-outline me-2" type="button"><a
                        href="/templates/ContactUs.html">Contact
                        Us</a></button>
                <button id="id-logout" name="btn-logout" class="btn btn-light btn-outline me-2" type="button"><a
                        href="/templates/Logout_page.html">Logout</a></button>
                <!-- <button class="btn btn-light btn-outline me-2" type="button"><a href="/templates/Dashboard.html">Dashboard</a></button>
                <button class="btn btn-light btn-outline me-2" type="button"><a href="/templates/ContactUs.html">Contact Us</a></button>
                <button class="btn btn-light btn-outline me-2" type="button"><a href="/templates/Logout_page.html">Logout</a></button> -->
            </div>
        </div>
    </nav>



    <!-- body content -->
    <div class="container">
        <div class="row justify-content-end mt-4">
            <!-- back button -->
            <div class="col">
                <a href="#" class="btn btn-light" onclick="history.go(-1);">Back</a>
            </div>
            <!-- Scan and cancel button -->
            <div class="col-auto">
                <button id="id-dashboard" name="btn-dashboard" class="btn btn-light btn-outline me-5" type="button"><a href="/templates/Dashboard.html">Cancel</a></button>
                <button id="id-scanproduct" name="btn-scanproduct" class="btn btn-light btn-outline" type="button" data-bs-toggle="modal"
                    data-bs-target="#scanModal"><a href="#">Scan Product</a></button>
            </div>
        </div><br>
        <h3>Create Bill</h3>
        <form action="{{url_for('customer_details')}}" method="post" target="_blank">
            <!-- Customer name code -->
            <div class="mb-3 mt-4">
                <label for="CustomerName" class="form-label">Customer Name :</label>
                <input type="text" class="form-control" id="customername" name="customername"
                    placeholder="Enter Customer Name">
            </div>
            <!-- contact number code -->
            <div class="mb-3 mt-4">
                <label for="customercontact" class="form-label">Customer Contact Number:</label>
                <input type="text" class="form-control" id="customercontact" name="customercontact"
                    placeholder="Enter Customer Contact Number">
            </div>
            <!-- email id code  -->
            <div class="mb-3 mt-4">
                <label for="customeremail" class="form-label">Customer Email ID:</label>
                <input type="text" class="form-control" id="customeremail" name="customeremail"
                    placeholder="Enter Customer Email ID">
            </div>
            <!-- cancel and scan product -->
            <div class="row justify-content-center mt-4">
                <div class="col-auto">
                    <button id="id-dashboard" name="btn-dashboard" class="btn btn-light btn-outline me-5" type="button"><a href="/templates/Dashboard.html">Cancel</a></button>
                <button id="id-scanproduct" name="btn-scanproduct" class="btn btn-light btn-outline" type="button" data-bs-toggle="modal"
                    data-bs-target="#scanModal"><a href="{{url_for('create_bill')}}">Scan Product</a></button>
                </div>
            </div>
        </form>
    </div>



    <!-- Confirmation Bill window yes/no -->
    <div class="modal fade" id="BillModal" tabindex="-1" aria-labelledby="BillModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h5>Send Bill on Whatapp</h5>
                    <button name="btn-sendbill" id="id-sendbill" type="button" class="btn btn-light btn-block ms-4" data-bs-target="#BillSentModal"
                        data-bs-toggle="modal">Yes</button>
                    <button type="button" class="btn btn-light btn-block ms-4" data-bs-dismiss="modal">No</button>

                </div>
            </div>
        </div>
    </div>

    <!-- Bill succesfully sent -->
    <div class="modal fade" id="BillSentModal" tabindex="-1" aria-labelledby="BillSentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h4>Bill Invoice Sent Successfully!</h4>
                    <button type="button" class="btn btn-light btn-block ms-4" data-bs-dismiss="modal"><a
                            href="/templates/Create_Bill.html">Close</a></button>
                </div>
            </div>
        </div>
    </div>



    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row justify-content-md-end">
                <div class="col-auto">
                    <span class="text-bg">© Copyright Persistent Systems Pvt. Ltd. 2024</span>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>